<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Literal vs. Dynamic</title>
    <meta name="author" content="Kevin Peters">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <!-- this is our View -->
    <div id="example">
      <!-- this passes down a plain string "1" -->
      <comp some-prop="1"></comp>
    </div>
    <script type="text/javascript" src="../../vue.js"></script>
    <script type="text/javascript" src="literal-vs-dynamic.js"></script>
</body>

</html>
