<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Prop Binding Types</title>
    <meta name="author" content="Kevin Peters">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <!-- this is our View -->
    <div id="example">
        <input v-model="parentMsg">
        <br>
        <!-- default, one-way-down binding -->
        <child v-bind:msg="parentMsg"></child>
        <br>

        <!-- explicit two-way binding -->
        <child v-bind:msg.sync="parentMsg"></child>
        <br>

        <!-- explicit one-time binding -->
        <child v-bind:msg.once="parentMsg"></child>
    </div>
    <script type="text/javascript" src="../../vue.js"></script>
    <script type="text/javascript" src="prop-binding-types.js"></script>
</body>

</html>
