<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Registration</title>
    <meta name="author" content="Kevin Peters">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <!-- this is our View -->
    <div id="example">
        <my-component></my-component>
    </div>
    <script type="text/javascript" src="../../vue.js"></script>
    <script type="text/javascript" src="registration.js"></script>
</body>

</html>
