<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Custom Events</title>
    <meta name="author" content="Kevin Peters">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <!-- this is our View -->
    <div id="example">
        <!-- template for child -->
        <template id="child-template">
            <input v-model="msg">
            <button v-on:click="notify">Dispatch Event</button>
        </template>
        <div id="events-example">
            <p>Messages: {{ messages | json }}</p>
            <child></child>
        </div>
    </div>
    <script type="text/javascript" src="../../vue.js"></script>
    <script type="text/javascript" src="custom-events.js"></script>
</body>

</html>
