<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Checkbox</title>
    <meta name="author" content="Kevin Peters">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div id="app-single-checkbox">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>

    <div id="app-multiple-checkbox">
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames | json }}</span>
    </div>
    <script type="text/javascript" src="../../vue.js"></script>
    <script type="text/javascript" src="checkbox.js"></script>
</body>

</html>
