<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Radio</title>
    <meta name="author" content="Kevin Peters">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div id="app-radio">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>

    <script type="text/javascript" src="../../vue.js"></script>
    <script type="text/javascript" src="radio.js"></script>
</body>

</html>
